.jumbotron {
    background-color: #364f6b;
}
.jumbotron h1 {
    text-align: center;
    color: #fc5185;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
video {
    margin: 20px auto;
    display: block;
}

.anchorDiv a {
    font-size: 20px;
    margin-left: 39%;
    margin-bottom: 30px;
}

.footer {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    background-color: #364f6b;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0px;
}